.bicicles
    width 100%
    display flex
    flex-direction column
    overflow hidden
    
.container
    display flex
    flex-direction column
    width 100vw
    overflow hidden
    @media screen and (min-width: 1024px)
        height 90vh
        flex-direction row

    &-left
        flex 1 1 60%
        display flex       
        justify-content flex-start
        overflow hidden

        & img
            flex auto
            &:hover + div
                display block
                

    &-right
        flex 1 1 40%
        display flex
        flex-direction column
        justify-content: flex-start
        align-items: flex-start
       
        &-text
            flex 1 1 70%
            display flex
            flex-direction column
            justify-content: center
            align-items: center
            background white
            @media screen and (max-width: 1024px)
                padding 100px 0
            
        &-seat
            align-self stretch
            
    &-middle
        display flex
        flex-direction column
        justify-content: space-between
        align-items space-around
        
        &-text
            flex 1 1 70%
            display flex
            flex-direction column
            justify-content: center
            align-items center
            @media screen and (max-width: 1024px)
                margin 100px 0

.reverse
    @media screen and (min-width: 1024px)
        height 90vh
        flex-direction row-reverse

.order
   @media screen and (max-width: 1024px)
        order 1
        

        
div[class^="cover"]
    position absolute
    height 92%
    display none
    @media screen and (max-width: 1025px)
        display block
        width 65vw
        height 100%
    
    
.cover1
    left 0
    background url(../images/bicycle-logo.png) no-repeat center center
    width 60%

.cover2
    right 0
    background url(../images/vintage-logo.png) no-repeat center center
    width 60%
.cover3
    left 0
    width 20%
    background url(../images/bicycles-sml-logo.png) no-repeat center center
