.discover
  width 100%
  height 25vh
  display flex
  justify-content center
  align-items center
  background $bg-bar
  
  &-text
    border 1px solid white
    display block
    color white
    padding 1em 3em
    text-transform: uppercase
    letter-spacing: 2px
    &:hover
      color $link-menu_hover
      border 1px solid $link-menu_hover
  
