.informacion
  width 100%
  height 40vh
  background $bg-header
  display flex
  justify-content space-around
  align-items center
  @media screen and (max-width: 1025px)
    height 70vh
    flex-direction: column
    padding 2em 0
  
  & img
    margin 0 .6em
    &:hover
      opacity 0.5
  
  & p
    text-align center
    color #848789
    word-spacing 2px
    line-height 1.2em
  
  &-direccion-ciudad
    font-weight: 600
  &-direccion-email:hover
    color $link-menu_hover
    
  &-creador
    display flex
    flex-direction column
    align-items center
    
    & p
      display flex
      align-items center
      font-style italic
      font-size .9em
      
    &-nombre:hover
      color $link-menu_hover
