.hidden
    display none
    
.header
    display: flex
    flex-direction: column
    width: 100%
    background $bg-header
    &-pic
        background url(../images/hero-bg.jpg) center no-repeat
        height 100vh
.nav
    display flex
    flex-direction column
    width 80%
    margin auto
    padding-top 20px
    @media screen and (min-width: 1210px) 
        flex-direction row
        width 45%
        
    &-logos
        display flex
        justify-content space-between
        align-items flex-start
        
        @media screen and (min-width: 1210px) 
            position absolute
            right 45.5%
        
        
    &-menu
        font-size 2.3em
        cursor pointer
        
        @media screen and (min-width: 1210px) 
            display none
        
    &-items
        background $bg-header
        list-style none
        padding-left 0
        @media screen and (min-width: 1210px) 
            flex 1 1 100%
            display flex
            justify-content: space-around
        
    &-item
        text-align center
        text-transform uppercase
        border-bottom: 1px dotted rgba(255, 255, 255, 0.2)
        @media screen and (min-width: 1210px) 
           &:nth-child(2)
                margin-right 6vw
            &:nth-child(3)
                margin-left 6vw

        & a
            display: block
            padding 2em
            color $link-menu
            
            &:hover
                color $link-menu_hover
