.intro
    width 100%
    display flex
    justify-content center
    padding  50px 0
    
    &-container
        display flex
        flex-direction column
        justify-content center
        align-items center
        padding 10vh 0
        width 95%
        @media screen and (min-width: 1210px) 
            width 80%

    &-parrafo
        line-height 1.8em
        word-spacing 2px
        font-weight 300
        font-size 1.3em
        text-align center
        color $font2
        @media screen and (min-width: 1024px) 
            width 80%
