
@import 'base/variables';

@import 'base/normalize';
@import 'base/global';

// Import Components
@import 'components/_header';
@import 'components/_intro';
@import 'components/_bicicles';
@import 'components/_twitter';
@import 'components/_products';
@import 'components/_discover';
@import 'components/_contacto';
@import 'components/_footer';

// Import Layouts
// @import 'layouts/home';

// Import Plugins
// @import 'plugins/plugin';


    
  
