*
    box-sizing border-box
    transition: all .25s ease;

body
    font-family 'lato', sans-serif
    font-size 14px
    background $bg-page 
    
a
    text-decoration none
    color $font

.title
    margin-top 25px
    text-transform uppercase
    color $font3
    text-align center
    letter-spacing 2px
    font-size 1.3em
    font-weight 700
    
.parrafo
    width 70%
    line-height 1.8em
    word-spacing 2px
    font-weight 300
    text-align justify
    color $font2